# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.hex

# Editor backup files
*.bak
*.c.bak
*.h.bak

# Exclude non-FT9xx files from FreeRTOS
Source/3rdparty/FreeRTOS/*
!Source/3rdparty/FreeRTOS/Source
Source/3rdparty/FreeRTOS/Source/*
!Source/3rdparty/FreeRTOS/Source/portable
Source/3rdparty/FreeRTOS/Source/portable/*
!Source/3rdparty/FreeRTOS/Source/portable/GCC

# Exclude non-FT9xx files from lwip
Source/3rdparty/lwip/*
!Source/3rdparty/lwip/src
Source/3rdparty/lwip/src/*
!Source/3rdparty/lwip/src/arch

# Exclude non-FT9xx files from mbedtls
Source/3rdparty/mbedtls/*
!Source/3rdparty/mbedtls/arch

# Test builds
FT90x_Debug
FT93x_Debug
FT90x_Release
FT93x_Release

# CMake tests build
debug_ft90x
debug_ft93x
release_ft90x
release_ft93x
build

# Library Eclipse settings
Source/.settings/*
!Source/.settings/org.eclipse.cdt.core.prefs
!Source/.project
!Source/.cproject
